altgraph==0.17.4
beautifulsoup4==4.12.3
blinker==1.8.2
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
Flask==3.0.3
idna==3.6
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
packaging==23.2
pefile==2023.2.7
pycryptodome==3.16.0
pyinstaller==6.3.0
pyinstaller-hooks-contrib==2023.12
pywin32-ctypes==0.2.2
requests==2.28.2
setuptools==69.0.3
soupsieve==2.6
urllib3==1.26.18
Werkzeug==3.0.4
wheel==0.42.0
gunicorn